* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Red Rose", cursive;
}
body {
	background-color: rgb(83, 115, 83);
	background: linear-gradient(rgba(21, 27, 56, 0.8), rgba(21, 27, 56, 0.82)),
		url(./assets/pexels-maxyne-barcel-10402282\ 1.png);
	background-size: cover;
}
.list-item {
	display: inline-block;
	font-size: 14px;
	margin-left: 45px;
	color: #ffc233;
}
nav div {
	float: left;
}
nav {
	height: 120px;
}
.logo {
	width: 70%;
	height: 70%;
}
.navbar > :first-child {
	margin-left: 40px;
	margin-top: 40px;
}
.list {
	margin-top: 40px;
	margin-left: 200px;
}
.navbar > :last-child {
	margin-left: 250px;
	margin-top: 30px;
}
.button-small {
	color: #fff;
	background-color: #ff505f;
	border: none;
	width: 90px;
	height: 35px;
	font-size: 16px;
	font-weight: 600;
}
.hero-heading {
	margin-left: 70px;
	margin-right: 70px;
	font-size: 90px;
	text-align: center;
	color: #ffc233;
	line-height: 105px;
	font-weight: 500;
	font-family: "Dela Gothic One";
	margin-bottom: 70px;
	margin-top: 100px;
}
.button-large {
	color: #fff;
	background-color: #ff505f;
	border: none;
	width: 270px;
	height: 65px;
	font-size: 24px;
	margin-left: 480px;
	margin-bottom: 60px;
}
.bottom div img {
	float: right;
	margin-right: 70px;
	width: 170px;
}
.bottom {
	height: 190px;
	margin-bottom: 60px;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */

/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
